* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

  h1{
    font-size: 50px;
    font-family: "roboto" ,sans-serif;
  }
  body{
    min-height: 100vh;
    width: 100%;
  }

/*navbar*/
.container {
  background-color:rgba(150, 155, 155, 0.932);
  font-size: 1.2rem;
  font-family: sans-serif;
  height: 55px;
  }


header {
    position: sticky;
    top: 0;
    z-index: 1;
   }

 #navbar {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: auto;
  }


#navbar ul{
    display: flex;
    align-items: center;
  }

#navbar {
    align-items: center;
    justify-content: space-between;
  }

#navbar ul li {
    list-style-type: none;
    float: center;
    padding: 0px;
    }    

#navbar ul li {
      list-style-type: none;
      float: center;
      padding: 0px;
      margin: 0 10px;
  }    

#navbar li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "roboto" ,sans-serif;
    font-weight: bolder;
    transition-property: background-color;
    transition-duration: 2s;
  }

  li a:hover {
    background-color: #ffffff;
  }

  @media screen and (max-width: 767px) {
    .container {
      height: 100%;
    }
  
#navbar h2 {
  font-size: 1.5rem;
}

    #navbar li a{
      font-size: 1.5rem;
      letter-spacing: -1.5px;
    }
  }

 /*content*/

  .content{
    background-image: url(images/contentback.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(65%);
    height: 900px;
    display: flex;
    justify-content: left;
    align-items: center;
    }

  .intro > div{
    margin: 10px;
    padding: 20px;
    font-size: 80px;
    color: rgb(255, 250, 250);
    animation: fadeIn 5s;
  }

  .intro h1{
    text-shadow: 2px 2px #353434;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 80px;
    font-family: "roboto" ,sans-serif;
  }

  .intro p{
    text-shadow: 2px 2px #353434;
    font-size: 40px;
    font-style: italic;
    font-family: "roboto" ,sans-serif;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
    

  .intro a{
    font-size: 30px;
    background-color: rgb(85, 150, 202); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    width: 250px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: width 2s;
  }
  
  .intro a:hover{
    width: 300px;
  }

 
  @media screen and (max-width: 767px) {
    .content {
      display: flex;
      justify-content: center;
      background-size: cover;
    }
    .intro h1{
      font-size: 25px;
      letter-spacing: none;
    }
    .intro p{
      font-size: 20px;
    }
  }
   
.aboutus{
  display: flex;
  margin: 50px;
  padding: 50px;
 }

h1{
 font-family: "roboto" ,sans-serif;
}

 .aboutus img{
  border-radius: 40px;
  filter: brightness(70%);
 }

.aboutus .para{
  background-color: #e6e2d6;
  box-shadow: 5px 5px 1px 5px rgb(143, 141, 141);
  border-radius: 40px;
  margin: 30px;
  padding: 20px;
  font-size: 25px;
  font-family: "roboto" ,sans-serif;
 }

 .aboutus .para ul{
  margin: 50px;
  font-size: 25px;
 }

 @media screen and (max-width: 767px) {
  .aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    }
   
  .aboutus img{
    border-radius: 100px;
    margin: auto;
    width: 350px;
    height: 300px
  }
  
  .aboutus p{
    box-shadow: none;
    width: 87%;
    font-size: 19px;
  }
  .aboutus .para ul{
    font-size: 20px;
  }

  h1{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
 }

/*gallery preview*/

.wrapper {
  width: 95%;
  margin: 2rem auto; 
}

.preview h1{
  font-size: 50px;
  text-align: center;
  margin: 80px;
}

.preview p{
  font-size: 30px;
  text-align: center;
  margin: 80px;
  font-family: "roboto" ,sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  filter:grayscale(100%);
  transition: all .23s ease-in-out;
}

.gallery__img:hover {
  filter:grayscale(0%);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

@media only screen and (max-width:768px) {
  .gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gallery__img{
    width: 380px;
    height: 200px;
  }
  .preview h1{
    font-size: 30px;
  }
  .preview p{
    font-size: 20px;
  }
}

/*sign up section*/

#forms{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#forms .introregister{
margin: 100px;
text-align: center;
font-family: "roboto" ,sans-serif;
font-size: 30px;
}

#forms .introregister h1{
  transition: all 2s ease;
  text-shadow: 1px 1px white;
}

#forms .introregister h1:hover{
  transform: scale(1.2);
  text-shadow: 3px 3px black;
  text-transform: uppercase;
}

#forms .register{
  width: 30%;
  margin: 0px;
  padding: 50px;
  border: groove;
  border-radius: 20px;
}

input[type=text] {
  width: 50%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px groove #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"]{
  background-color: #ffffff;
  padding: 10px;
}

select {
  width: 9%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 20px;
  font-style: normal;
  font-family: "roboto" ,sans-serif;
}

.register p{
  font-size: 25px;
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;
  font-family: "roboto" ,sans-serif;
  resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(192, 191, 187);
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  transition: width 2s;
  font-family: "roboto" ,sans-serif;
}

input[type=submit]:hover{
  width: 300px;
  font-size: 20px;
  font-weight: bold;
}


@media only screen and (max-width:768px) {
  input[type=text] {
    width: 70%;
  }
  #forms .introregister{
    margin: 25px;
    padding: 10px;
    text-align: center;
  }
  #forms .register{
    width: 85%;
    margin: 30px;
    padding: 10px;
    border: groove;
    border-radius: 20px;
    text-align: center;
    }
  textarea{
    width: 100%;
  }
}

/*Footer*/
footer {
  background-color:rgba(150, 155, 155, 0.6);
  margin: 0px;
  left: 0;
  bottom: 0;
  padding: 30px;
  height: 100px;
  width: 100%;
  font-family: "roboto" ,sans-serif;
  color: rgb(5, 5, 5);
  text-align: center;
  font-size: smaller;
  opacity: 80%;
}

footer p{
font-size: 16px;
text-transform: lowercase;
}
/*