 h1{
  font-family: sans-serif;
  font-size: 30px;
  font-style: normal;
  }
  
p {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  }
  
  
/*navbar*/

.container {
  background-color: rgb(182, 200, 207);
  font-size: 1.2rem;
  font-family: sans-serif;
  height: 50px;
}


header {
    position: sticky;
    top: 0;
    z-index: 1;
   }

 .navbar {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    margin: auto;
  }


.navbar ul{
    display: flex;
    align-items: center;
  }

.container .navbar {
    align-items: center;
    justify-content: space-between;
  }

.navbar ul li {
    list-style-type: none;
    float: center;
    padding: 0px;
    margin: 0 10px;
}    

.navbar li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
  }


  li a:hover {
    background-color: #adad9b;
  }

  @media screen and (max-width: 767px) {
    .container {
      height: 100%;
    }
  
    .container .navbar {
      flex-direction: column;
    }
  }

/*logo*/
  .logo {
    position: relative;
  text-align: center;
  color: white
  }
  
  .topleft {
      position: absolute;
      bottom: 8px;
      right: 16px;
      font-family: fantasy;
      font-size: 20px;
      font-style: italic;
      background-color: black;
    
}
  
  .headerphoto{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      .topleft {
        font-size: 5px;
      }
  
      .headerphoto{
        display: block;
      margin-left: auto;
      margin-right: auto;
        width:100%;
      }
    }
  
      /*content*/

  .content{
    display: flex;
    flex-direction: row;
    }

    @media only screen and (max-width: 768px) {
      .content {
        flex-direction: column-reverse;
    }
    }

.content .intro {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}


.content li {
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
}

.content .signin {
  background-color: rgb(223, 241, 248);
  margin: 50px;
  padding: 45px;
  font-size: 5px;
  width: 40%;
}

.signin input[type=text] {
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/*gallery preview*/

.photos {
  display: flex;
flex-direction: row;
justify-content: center;
width: auto;
}

div .gallery {
  border: 10px solid rgb(223, 241, 248);
  background-color: rgb(223, 241, 248);
  }

div .gallery:hover {
  border: 1px solid #777;
}

div .gallery img {
  width: 100%;
  height: auto;
}

div .desc {
  padding: 0px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;

}

.responsive {
  padding: 0 6px;
  float: left;
  width: 30%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
  
@media only screen and (max-width:768px) {
  .photos {
  flex-direction: column;
}

  div .gallery {
    border: hidden;
}

  div .gallery:hover {
    border: hidden;
}

 div .gallery img {
    width: 550%;
    height: auto;
}

div .gallery {
    border: none;
    background-color: none;
}
  
.responsive {
    padding: none;
    float: none;
    width: 20%;
    }
}

/*sign up section*/

input[type=text] {
  width: 20%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"]{
  background-color: #ffffff;
  padding: 10px;
}

select {
  width: 9%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(187, 185, 185);
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width:768px) {
  input[type=text] {
    width: 50%;
  }
}

/*Footer*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(5, 5, 5);
  text-align: center;
  font-size: smaller;
}
/*